/* 
.parent {
    position: relative;
    bottom: 40px;
    left: 200px;
}

.child {
    position:absolute;
    left: 20px;
    bottom: 5px;
}

.align {
    position: relative;
    left: 42px;
    bottom: 60px;
} */